<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Chatroom</title>
    <%- include('partials/bootstrapInit') %>
    <script>
      const ROOMID = "<%= roomId %>";
      let USERNAME = "<%= username %>";
      let MEMBER_COUNT = 0;
      console.log("Hello");
      if (!USERNAME) {
        USERNAME = window.prompt(
          "Please enter you username to proceed!",
          "Enter username here"
        );
      }
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="module" src="/js/chatroom.js" defer></script>
    <link rel="stylesheet" href="/css/homepage/home.css" />
    <link rel="stylesheet" href="/css/meeting/chat.css" />
    <link rel="stylesheet" href="/css/chatroom/chatroom.css" />
    <link rel="stylesheet" href="/css/meeting/notifications.css" />
    <%-include('partials/introInit')%>
  </head>
  <body>
    <input type="text" name="" id="copyTextField" />
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand">Teams</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link">New Meeting</a>
          </li> -->
        </ul>
      </div>
    </nav>
    <div id="ohsnap"></div>
    <div class="container-fluid main">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="controlPanel d-flex flex-column align-items-center">
            <p
              data-title="Invite people over!"
              data-intro="Click on the copy icon to get the room invite code"
            >
              Room Invite: <br />
              <span class="meetingId"><%= roomId %></span>
              <i class="fas fa-clone" id="copyMeet"></i>
            </p>
            <div
              data-title="Control panel!"
              data-intro="Click on the join button to enter the video call room, and leave chatroom to exit back to the homescreen."
            >
              <button id="joinRoom" class="d-block hvr-sweep-to-right">
                Join Video Call
              </button>
              <button id="leaveRoom" class="d-block hvr-sweep-to-right">
                Leave Chatroom
              </button>
            </div>
          </div>
          <div
            class="controlPanel d-flex flex-column align-items-center"
            data-title="Member List!"
            data-intro="Here is a list of all the users who have joined the chatroom. Don't see your friends? Invite them over!"
          >
            <div class="membersHeading">
              <p>Members (<span id="memberCount"></span>)</p>
            </div>
            <div id="userList"></div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div
            id="chat"
            data-title="Talk away!"
            data-intro="This is where all the conversation happens. 
            Weren't in the room when a conversation took place? Don't worry! 
            Chatrooms are synced with the video call chatbox, so you'll get 
            all updates even if you missed out on the video call!"
          >
            <div
              id="chatContent"
              class="d-flex flex-column justify-content-start"
            ></div>
            <div class="submit d-flex">
              <input
                type="text"
                class="form-control"
                placeholder="Enter message"
                id="chatInput"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary chat-send"
                  type="button"
                  id="sendButton"
                >
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="help">
      <button class="hvr-sweep-to-right homeButton" onclick="startIntro()">
        Help
      </button>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="/js/ohsnap.min.js"></script>
  </body>
</html>
